body {
  margin: 0;
  padding: 0;
  overflow: auto;
  background-image: url('/Users/renqingcuomao/job-search-platform/src/background4.jpg'); 
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; 
  background-position: center; 
}

.App {
  text-align: center;
  position: relative;
  z-index: 2;
}

.App::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(6, 22, 101, 0.555); 
  z-index: -1;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 8vh;
  padding-top: 10vh;
  font-size: calc(10px + 2vmin);
  color: rgb(124, 208, 212);
  position: relative;
  z-index: 2;
  overflow: auto;
}

.title {
  font-size: 2em;
  margin-bottom: 10px;
  color: black;
  font-family: "Palatino", Times, serif;
  z-index: 3;
}

.title .highlight {
  color: rgb(42, 12, 140); 
}

.subtitle {
  font-size: 0.9em; 
  color: #100c0c; 
  margin-bottom: 4px; 
  z-index: 3;
  font-style: italic; 
}

.filter-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin-top: 5vh;
  padding: 20px 0;
  z-index: 3;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19); 
  background-color: rgba(15, 17, 22, 0.683); 
  border-radius: 10px;
}

.filter-component {
  margin: 0 10px;
  flex: 1;
  min-width: 150px;
}

.filter-input,
.custom-dropdown,
.filter-component select {
  padding: 8px;
  font-size: 16px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid #ccc;
  border-radius: 4px;
  color: black;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
}

.filter-input::placeholder {
  color: black;
}

.filter-input:-ms-input-placeholder {
  color: black; 
}

.filter-input::-ms-input-placeholder {
  color: black;
}

.filter-input::-webkit-input-placeholder {
  color: black; 
}

.filter-input::placeholder {
  color: black; 
}

.custom-dropdown {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: black;
}

.filter-component button {
  cursor: pointer;
  background-color: #61dafb;
  border: none;
  border-radius: 4px;
  color: white;
  box-shadow: 0 2px 4px rgba(66, 18, 49, 0.122);
}

.filter-component button:hover {
  background-color: #21a1f1;
}

.results-container {
  text-align: left;
  width: 80%;
  margin: 20px auto;
  z-index: 3;
}

.result-item {
  background-color: #4f4c48ba;
  padding: 10px;
  margin: 10px 0;
  border-radius: 4px;
  color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.result-item h3 {
  margin: 0;
}

.result-item p {
  margin: 5px 0;
}

.result-item button {
  background-color: #148fe6d7;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  padding: 5px 10px;
  box-shadow: 0 2px 4px rgba(203, 151, 21, 0.1);
}

.result-item button:hover {
  background-color: #21a1f1;
}

.results-container p {
  font-size: 1.0em;
  color: rgba(13, 180, 55, 0.972);
}

.result-item .applies-count {
  font-size: 0.8em; 
  color: #1f2739; 
}

.custom-dropdown-container {
  position: relative;
  display: inline-block;
  width: 100%;
}

.custom-dropdown {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.1);
  color: black;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  width: 100%;
  box-sizing: border-box;
}

.dropdown-arrow {
  float: right;
}

.custom-dropdown-options {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.9);
  width: 100%;
  color: black;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  z-index: 10;
  box-sizing: border-box;
}

.dropdown-input {
  padding: 10px;
  margin: 5px 0;
  width: calc(100% - 20px);
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid #ccc;
  border-radius: 4px;
  color: black;
}

.dropdown-button {
  padding: 10px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid #ccc;
  border-radius: 4px;
  color: black;
  margin-bottom: 5px;
}

.dropdown-option {
  padding: 10px;
  cursor: pointer;
  border-top: 1px solid #ccc;
  color: black;
}

.job-details {
  background-color: #fff;
  color: #000;
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
  text-align: left;
  width: 80%;
  max-width: 600px;
  z-index: 10;
  position: fixed;
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
}

.job-details h3 {
  margin-top: 0;
}

.job-details p {
  margin: 5px 0;
}

.job-details a {
  color: #61dafb;
  text-decoration: none;
  word-wrap: break-word; 
  overflow-wrap: break-word;
}

.job-details a:hover {
  text-decoration: underline;
}

.job-details button {
  background-color: #61dafb;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  padding: 10px 20px;
  margin-top: 10px;
}

.job-details button:hover {
  background-color: #21a1f1;
}
